ipykernel


# API
fastapi
uvicorn

# Data validation & config
pydantic
python-dotenv

# Data wrangling
pandas

# Embeddings & vector search
sentence-transformers
faiss-cpu

# LangChain (v1 alpha APIs + community integrations)
langchain
langchain-community

# Dataset: https://www.kaggle.com/datasets/susant4learning/nykaacosmeticsproductsreview2021